In [27]:
import pandas as pd
import numpy as np

In [30]:
data=pd.read_excel("../RawData/hilfeleistungen_kreisebene/22121-01-04-4.xlsx")
data

,"Empfänger nach Geschlecht, Nationalität, Ort der\nLeistungserbringung, Altersgruppen - Stichtag 31.12. -\nregionale Tiefe: Kreise und krfr. Städte",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Statistik d. Empf. v.lfd. Hilfe z. Lebensunter...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Stichtag\nKreise und kreisfreie Städte,NaN,Empfänger(innen) von Sozialhilfe,Empfänger(innen) von Sozialhilfe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,weiblich,Ausländer(innen),außerhalb von Einrichtungen,ausländische Empfänger außerhalb von Einrichtu...,Altersgruppe,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,unter 7 Jahre,7 bis unter 18 Jahre,18 bis unter 25 Jahre,25 bis unter 50 Jahre,50 bis unter 65 Jahre,65 Jahre und mehr
4,NaN,NaN,Anzahl,Anzahl,Anzahl,Anzahl,Anzahl,Anzahl,Anzahl,Anzahl,Anzahl,Anzahl,Anzahl
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4344,Einrichtungen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4345,Bremen (2012): nur Empfänger außerhalb von Ein...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4346,© Statistische Ämter des Bundes und der Länder...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4347,Dieses Werk ist lizenziert unter der Datenlize...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4348,- Namensnennung - Version 2.0. | Stand: 14.07....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data.iloc[1,:].tolist()[0]

'Stichtag\nKreise und kreisfreie Städte'

In [18]:
data.iloc[2,:].tolist()

[nan,
 nan,
 nan,
 'weiblich',
 'Ausländer(innen)',
 'außerhalb von Einrichtungen',
 'ausländische Empfänger außerhalb von Einrichtungen',
 'Altersgruppe',
 nan,
 nan,
 nan,
 nan,
 nan]

In [19]:
data.iloc[3,:].tolist()

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'unter 7 Jahre',
 '7 bis unter 18 Jahre',
 '18 bis unter 25 Jahre',
 '25 bis unter 50 Jahre',
 '50 bis unter 65 Jahre',
 '65 Jahre und mehr']

In [59]:
first_element=""
second_element=""
thirdd_element=""

entry=""
for i in range(len(data.iloc[1,:].tolist())):
    print("1: ",(str(data.iloc[1,:].tolist()[i]).replace("\n"," ")))

    if(data.iloc[1,:].tolist()[i]==data.iloc[1,:].tolist()[i-1]) or (data.iloc[1,:].tolist()[i]==np.nan):
        entry=firstelement+"_"+data.iloc[2,:].tolist()[i]
        print("triggered")
    else:
        firstelement=(str(data.iloc[1,:].tolist()[i]).replace("\n"," "))
        entry=firstelement
    print("2: ",data.iloc[2,:].tolist()[i])
    print("3: ",data.iloc[3,:].tolist()[i])
    print(entry)

1:  Stichtag Kreise und kreisfreie Städte
2:  nan
3:  nan
Stichtag Kreise und kreisfreie Städte
1:  nan
2:  nan
3:  nan
nan
1:  Empfänger(innen) von Sozialhilfe
2:  nan
3:  nan
Empfänger(innen) von Sozialhilfe
1:  Empfänger(innen) von Sozialhilfe
triggered
2:  weiblich
3:  nan
Empfänger(innen) von Sozialhilfe_weiblich
1:  nan
2:  Ausländer(innen)
3:  nan
nan
1:  nan
2:  außerhalb von Einrichtungen
3:  nan
nan
1:  nan
2:  ausländische Empfänger außerhalb von Einrichtungen
3:  nan
nan
1:  nan
2:  Altersgruppe
3:  unter 7 Jahre
nan
1:  nan
2:  nan
3:  7 bis unter 18 Jahre
nan
1:  nan
2:  nan
3:  18 bis unter 25 Jahre
nan
1:  nan
2:  nan
3:  25 bis unter 50 Jahre
nan
1:  nan
2:  nan
3:  50 bis unter 65 Jahre
nan
1:  nan
2:  nan
3:  65 Jahre und mehr
nan

In [72]:
first_element=""
second_element=""
third_element=""

entry=""
for i in range(len(data.iloc[1,:].tolist())):
    print(i)
    if(pd.isnull(data.iloc[1,:].tolist()[i])):
        pass
    else:
        first_element=data.iloc[1,:].tolist()[i]
    if(pd.isnull(data.iloc[2,:].tolist()[i])):
        pass
    else:
        second_element=data.iloc[2,:].tolist()[i]
    if(pd.isnull(data.iloc[3,:].tolist()[i])):
        pass
    else:
        third_element=data.iloc[3,:].tolist()[i]
    print(first_element+"_"+second_element+"_"+third_element)

0
Stichtag
Kreise und kreisfreie Städte__
1
Stichtag
Kreise und kreisfreie Städte__
2
Empfänger(innen) von Sozialhilfe__
3
Empfänger(innen) von Sozialhilfe_weiblich_
4
Empfänger(innen) von Sozialhilfe_Ausländer(innen)_
5
Empfänger(innen) von Sozialhilfe_außerhalb von Einrichtungen_
6
Empfänger(innen) von Sozialhilfe_ausländische Empfänger außerhalb von Einrichtungen_
7
Empfänger(innen) von Sozialhilfe_Altersgruppe_unter 7 Jahre
8
Empfänger(innen) von Sozialhilfe_Altersgruppe_7 bis unter 18 Jahre
9
Empfänger(innen) von Sozialhilfe_Altersgruppe_18 bis unter 25 Jahre
10
Empfänger(innen) von Sozialhilfe_Altersgruppe_25 bis unter 50 Jahre
11
Empfänger(innen) von Sozialhilfe_Altersgruppe_50 bis unter 65 Jahre
12
Empfänger(innen) von Sozialhilfe_Altersgruppe_65 Jahre und mehr

In [86]:
datadropped=data.dropna(subset=[data.columns[0]])
indexlist=datadropped[datadropped[datadropped.columns[0]].str.startswith("31.12.")].index.tolist()
datadropped[datadropped[datadropped.columns[0]].str.startswith("31.12.")]

,"Empfänger nach Geschlecht, Nationalität, Ort der\nLeistungserbringung, Altersgruppen - Stichtag 31.12. -\nregionale Tiefe: Kreise und krfr. Städte",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
5,31.12.2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
544,31.12.2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1083,31.12.2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1622,31.12.2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2161,31.12.2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2700,31.12.2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3239,31.12.2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3778,31.12.2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
indexlist

[5, 544, 1083, 1622, 2161, 2700, 3239, 3778]

In [88]:
datadropped.loc[indexlist[0]:indexlist[1]]

,"Empfänger nach Geschlecht, Nationalität, Ort der\nLeistungserbringung, Altersgruppen - Stichtag 31.12. -\nregionale Tiefe: Kreise und krfr. Städte",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
5,31.12.2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,DG,Deutschland,370159,167067,29779,121511,18568,8697,20850,19245,118728,116912,85727
7,01,Schleswig-Holstein,16782,7680,758,7060,607,311,752,1009,5910,5332,3468
8,01001,"Flensburg, Kreisfreie Stadt",643,312,33,331,29,8,22,36,219,219,139
9,01002,"Kiel, Landeshauptstadt, Kreisfreie Stadt",1309,625,115,874,105,43,80,78,512,397,199
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,16074,Saale-Holzland-Kreis,185,72,3,76,.,7,14,9,68,55,32
541,16075,Saale-Orla-Kreis,334,146,1,68,-,10,28,28,163,64,41
542,16076,"Greiz, Kreis",311,122,3,120,.,5,28,12,85,123,58
543,16077,"Altenburger Land, Kreis",235,99,8,118,8,11,21,11,81,69,42
544,31.12.2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN